<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show Player</title>
</head>
<body>
  <h2>野球データベース</h2>
  <p><%= mes %></p>
  <a href="/all">成績一覧</a><br>
  <a href="/db">野手一覧</a><br>
  <a href="/team">チーム一覧</a><br>
  <a href="/public/insert.html">選手登録</a><br>
  
</body>
</html>